@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background: #1f1f1f;
  overflow: hidden;
}

.square {
  background: #000;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.map {
  width: 80%;
  height: 100%;
  position: relative;
}

.map .content {
  width: 100%;
  height: 100%;
}

.map .map-img img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: absolute;
}

.map-img {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.move-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-wrapper.active {
  cursor: move;
  user-select: none;
  z-index: 4;
}

#changeMap {
  margin: 1rem;
  padding: .5rem;
  outline: none;
  background: #252525;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.tokens {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.token {
  height: 75px;
  position: absolute;
  z-index: 999;
}

.token-map {
  position: absolute;
  z-index: 2;
}

.move-wrapper.selected img{
  background: #fff;
}

.move-wrapper.invert img{
  transform: rotateY(180deg);
}

.map-position-buttons {
  display: flex;
  gap: .5rem;
  padding: .7rem;
  border-bottom: 1px solid #fff;
}

.menu .dropdown .dropdown-content .map-position-buttons button {
  border: none;
  background: #cecece;
  color: #000;
  text-align: center;
}

.menu {
  background: #1f1f1f;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: scroll;
}

.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 100%;
  border: none;
}

.dropdown {
  border-bottom: 1px solid #fff;
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  color: #fff;
  z-index: 1;
}

.dropdown-content .input input {
  width: 50%;
}

.dropdown-content .input {
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
}

.dropdown-content button {
  width: 100%;
  padding: .5rem;
  outline: none;
  background: #131313;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 100%;
}

.dropdown:hover .dropbtn {
  border-bottom: 1px solid #fff;
  filter: brightness(1.5);
}

#token-size,
#zoom {
  width: 45%;
  text-align: center;
  margin-right: 0.3rem;
}

#token-size-btn {
  width: 30%;
  background: #cecece;
  color: #000;
  margin-right: 1rem;
}

.input-div {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
}

.input-light-div {
  display: flex;
  flex-direction: column;
}

.input-light-div button {
  width: 60%;
  background: #cecece;
  color: #000;
  margin-right: 1rem;
}

.input-light-div div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.dropdown-content .input.input-light-div .input-light {
  width: 40%;
  text-align: center;
}

.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow+label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}

.switch--shadow+label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}

.switch--shadow+label:after {
  width: 31px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked+label:before {
  background-color: #8ce196;
}

.switch--shadow:checked+label:after {
  transform: translateX(30px);
}

.one-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid #fff;
}

.one-button button {
  border: none;
  background: #cecece;
  color: #000;
  text-align: center;
  width: 75%;
}

.one-button.map-menu {
  border: none;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background: #e83f5b;
  color: #fff;
  font-size: 1.2rem;
  width: 85%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 10px;
  transition: .3s;
}

.trash:hover {
  filter: brightness(0.8);
}